<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h2>Button Tags</h2>
    <a href="/first" class="btn btn-info" role="button">Link Button</a>
    <button type="button" class="btn btn-info" (click)="myClickFunction()">Button</button>
  </div>
  <div class="well">{{name}}</div>
  <div class="row">
      <div class="col-sm-4">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
    </div> 

</body>
</html>

<h1><router-outlet></router-outlet></h1>

